In [33]:
import pandas as pd

In [34]:
customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

In [35]:
def delete_columns(df, col=[]):
    try:
        df.drop(col, axis=1, inplace=True)
        return df
    except:
        return None

customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })
display(delete_columns(customer_df, ['number', 'cust_age', "yada"]))

None

In [36]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df['pop_mean'] = countries_df['population']*1e6 / countries_df['square']

In [37]:
round(countries_df['pop_mean'].mean(), 2)

84.93

In [38]:
ufo_data = pd.read_csv("data/ufo.csv", sep=',')
ufo_data.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [39]:
ufo_df = ufo_data.copy()
ufo_df.tail(10)

                 City Colors Reported Shape Reported State              Time
18231     Pismo Beach             NaN           OVAL    CA  12/31/2000 20:00
18232            Lodi             NaN            NaN    WI  12/31/2000 20:30
18233       Anchorage             RED        VARIOUS    AK  12/31/2000 21:00
18234        Capitola             NaN       TRIANGLE    CA  12/31/2000 22:00
18235  Fountain Hills             NaN            NaN    AZ  12/31/2000 23:00
18236      Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237     Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238     Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239     Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240            Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [40]:
ufo_df["Time"] = pd.to_datetime(ufo_df["Time"])
display(ufo_df['Time'].tail(10))

18231   2000-12-31 20:00:00
18232   2000-12-31 20:30:00
18233   2000-12-31 21:00:00
18234   2000-12-31 22:00:00
18235   2000-12-31 23:00:00
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, dtype: datetime64[ns]

In [41]:
ufo_year = ufo_df["Time"].dt.year
ufo_year.value_counts()

Time
1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
        ...
1936       2
1930       2
1935       1
1934       1
1933       1
Name: count, Length: 68, dtype: int64

In [46]:
ufo_date = ufo_df[ufo_df["State"] == "NV"]["Time"].dt.date.diff().dt.days
display(ufo_date.mean())

68.92932862190813

In [43]:
ufo_date.diff()

0          NaN
1          NaN
2        201.0
3       -124.0
4        581.0
         ...
18236      0.0
18237      0.0
18238      0.0
18239      0.0
18240      0.0
Name: Time, Length: 18241, dtype: float64

In [44]:
ufo_date

0          NaN
1         29.0
2        230.0
3        106.0
4        687.0
         ...
18236      0.0
18237      0.0
18238      0.0
18239      0.0
18240      0.0
Name: Time, Length: 18241, dtype: float64